<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Automation Suite" thread-count="3">

    <test name="TestSuit1" >
        <classes>
            <class name="officeMart.HomePageTests" />
        </classes>
    </test>

    <test name="TestSuit2" >
        <classes>
            <class name="officeMart.MyCartTests" />
        </classes>
    </test>

    <test name="TestSuit3" >
        <classes>
            <class name="officeMart.InvoiceTests" />
        </classes>
    </test>

</suite>